span#customer-ddi-number, span#customer-phone-number {
    float: left;
}

span#customer-ddi-number {
    width: 50px;    
    padding-left: 5px;
}

input#customer-ddi-number {
    color: #000000;
}

div#field-phone {
    padding-bottom: 25px;
}