<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="liquido_update_order_in_database">
        <observer name="liquido_update_order_in_database_observer" instance="Liquido\PayIn\Observer\LiquidoUpdateOrderObserver" />
    </event>
</config>