.column.main {
    width: 75% !important;
}

div.result-header {
    padding: 38px 12px 24px;
}

div.result-header.success {
    background-color: #00a650;
}

div.result-header.failed {
    background-color: #c0392b;
}

div.result-header h1,
div.result-header h2,
div.result-header h3 {
    color: #FFFFFF;
}

div.result-header h1 {
    font-weight: bold;
}

div.result-header h2,
div.result-header h3 {
    font-style: italic;
    line-height: 30%;
}

div.result-header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.result-header-info img {
    width: 100px;
    height: 100px;
}

div#result-main-content {
    margin-top: 32px;

    display: flex;
    justify-content: space-between;
}

div#result-main-content .result-content {
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#result-main-content .result-content .result-card {
    width: 80%;
    background-color: #FFFFFF;
    border-radius: 22px;

    padding: 22px;
    color: #97989B;

    box-shadow: 0 0 5px #97989B;
}

div#result-main-content .result-content .result-card header {
    border-bottom: 2px solid #6ADED0;
    color: #01a3a4;

    display: flex;
    flex-direction: column;
    align-items: center;
}

div#result-main-content .result-content .result-card h2 {
    color: #094DE7;
    font-weight: bold;
}

div#result-main-content .result-content .result-instructions {
    margin-top: 22px;

    display: flex;
    flex-direction: column;
}

.result-instructions {
    color: #97989B;
    font-style: italic;
}

.result-warning {
    background-color: #ff9f43;
    color: #000000;
    padding: 8px 16px;
    border-radius: 5px;

    display: flex;
}

.result-warning img {
    width: 60px;
    height: 60px;
    margin-right: 12px;
}